<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-icon name="add-outline" slot="end" size="large" (click)='createClassroom()'></ion-icon>
 </ion-toolbar>
</ion-header>

<ion-content *ngIf ="classroomData.length>0">
  <ion-list>
    <ion-label color="secondary" ><p style="text-align: end; margin-right: 10px;"> *swipe left to take an action</p></ion-label>
    <!-- Multi-line sliding item with icon options on both sides -->
    <ion-item-sliding  *ngFor="let class of classroomData" >
      <ion-item   (click)="class.toggle=!class.toggle" button>
        <ion-label>
          <h2><b>{{class.classroomName|uppercase}}</b></h2>



          <div *ngIf="class.toggle">
            <p> <b>Class Teacher: </b>{{class.classTeacher}}</p>
            <p><b>Course Description: </b>{{class.courseDescription}}</p>
            <p><b>Class Code: </b>{{class.classCode}}</p>
            <p><b>Batch Year: </b>{{class.batchYear}}</p>



          </div>


        </ion-label>
        <ion-icon *ngIf="!class.toggle" name="chevron-down-outline" slot="end"   ></ion-icon>
        <ion-icon *ngIf="class.toggle" name="chevron-up-outline" slot="end"   ></ion-icon>
        <!-- <ion-note slot="end">
          <ion-icon  name="arrow-down"  (click)="user.toggle=!user.toggle"></ion-icon>
        </ion-note> -->

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" >
          <ion-icon slot="icon-only" name="trash" (click)="deleteClasroom(class)"></ion-icon>
        </ion-item-option>
        <ion-item-option >
          <ion-icon slot="icon-only" name="create"  ></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>


  </ion-list>
</ion-content>
