
<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Login Page</ion-title>
    </ion-toolbar>
  </ion-header>,
  <ion-content fullscreen>
    <ion-card>
      <img src="../../assets/icon/login.png" />
      <ion-card-header>
        <ion-card-subtitle>Welcome, Now take Attendance with Ease.</ion-card-subtitle>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>
      <form [formGroup]="registrationForm" (ngSubmit)="submit()">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input inputmode="text" formControlName="userName" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input inputmode="text" formControlName="password" ></ion-input>
        </ion-item>
        <ion-item>
        </ion-item>
        <ion-button expand="block" type="submit">Proceed to Login</ion-button>
        <ion-item>
          <div *ngIf = "status === 'failed'">
            <ion-label style="color: red;">{{statusMessage}}</ion-label>
          </div>
          <div *ngIf = "status === 'success'">
            <ion-label style="color: green;">{{statusMessage}}</ion-label>
          </div>

        </ion-item>
        <ion-item>
          <a style="padding-left: 25%;" [routerLink]="['/create-new-user']">Create a New User?</a>
        </ion-item>



      </form>

    </ion-card>
  </ion-content>
</ion-app>
